$text-color: #333399;

.big-menu{
	@extend .center-in-flexbox;
}

.main-content {
	/* flex: 1; would be enough but it looks bad in IE */
	flex: 1 0 auto;
	display: flex;
	height: 51vh; // дает прокрутку только в этой секции, а не на весь экран, т.е. футер и хедер какбы фиксированы
	overflow-y: auto;
	margin-bottom: 1px;
}

.big-menu__btn{
	padding: 30px;
	width: 70%;
	border-radius: 15px;
	margin-bottom: 45px;
	@extend .custom-btn;
	font-size: 2.2rem;
}

.table{
	padding-top: 15px;

}
.table__wrapper{
	display: flex;
	margin-bottom: 45px;
}
.table__header{
	font-size: 1.1rem;
	background-color: $text-color;
	color: #fff;	
	border: 1px solid #fff;
}
.table__table{
	color: $text-color;
	text-align: center;
	margin: auto;
    width: 100%;
}
.table__col{
    width: auto;
    color: $text-color;
    border: 1px solid #fff;
    padding: 1px 15px;
	
}
.table__row{
	border: 1px solid white;
    background-color: #CCEBEB;

    &:nth-child(2n){
        background-color: #A6DCDC;
    }
}
.table__link{
    @extend .table__link;
    color: $text-color;
}