.big-menu{
	@extend .center-in-flexbox;
}

.main-content {
	/* flex: 1; would be enough but it looks bad in IE */
	flex: 1 0 auto;
	display: flex;
	height: 51vh; // дает прокрутку только в этой секции, а не на весь экран, т.е. футер и хедер какбы фиксированы
	overflow-y: auto;
	margin-bottom: 1px;
	padding-top: 15px;
}

.big-menu__btn{
	padding: 15px;
	width: 60%;
	border-radius: 15px;
	margin-bottom: 30px;
	@extend .custom-btn;
	font-size: 1.8em;
}

.title{
	font-size: 1.6em;
	text-align: center;
	color: $font-color-light;
	margin-bottom: 15px;

	.title-min{
		font-size: 65%;
		margin-top: -5px;
		display: block;
		margin-bottom: 5px;
	}
}
.map{
	width: 100%;
	@extend .center-in-flexbox;
}

.map__wrapper{
	position: relative;
	display: inline-block;
	width: 100%;
}

.map__img{
	@extend .img-responsive;
	width: 100%;
}

.map__btn-zone{
	position: absolute;
	display: block;
	// height: 9%; // 45px;
	min-width: 50px;
	background-color: rgba(0,0,0,0.9);
	padding: 15px;
	border-radius:10px;
	color: $font-color-light;
	text-decoration: none;
	font-size: 1.2rem;
}

.btn-zone--glav{
	top: 60%; // 	top: 115px;
	left: 55%; // 	left: 100px;
	// width: 23%; // 	width: 200px;
	border-radius: 25px 0px 25px 25px;
}
.btn-zone--kdc{
	top: 5%;
	left: 46%;
	width: 42%;
}
.btn-zone--rod{
	top: 68%;
    left: 1%;
    width: 23%;
}
.btn-zone--terap{
	top: 30%;
	left: 19%;
	// width: 33%;
	border-radius: 25px 0px 25px 25px;

}
.btn-zone--panatom{
	top: 43%;
    left: 45%;
    width: 43%;
}
.floor-table{
	padding-top: 15px;

}
.floor-table__wrapper{
	display: flex;
	margin-bottom: 45px;
}
.floor-table__header{
	font-size: 1.1rem;
	background-color: rgba(255,255,255,0.75);
	color: #000;	
}
.floor-table__table{
	color: $font-color-light;
	text-align: center;
	margin: auto;
    width: 100%;
}
.floor-table__col{
	width: 45%;
    background-color: rgba(255,255,255,0.25);
	&:hover{
		background-color: rgba(255,255,255,0.1);
	}
}
.floor-table__col--stage{
	width: 10%;
	background-color: rgba(255,255,255,0.75);
	color: #000;
	&:hover{
		background-color: rgba(255,255,255,0.75);
	}
}
.floor-table__header--stage{
	background-color: rgba(255,255,255,0.75);
	color: #000;	
	padding: 5px;
	font-size:1rem;
}
.floor-table__row{
	border: 1px solid white;
}
.floor-table__link{
	display: block;
	padding: 10px 10px;
	color:$font-color-light;
	text-decoration: none;
	font-size: 1.1rem;
	height: 10%;
	// text-transform: uppercase;
}
.floor-table__link.js-content-visible{
	font-size: 1.4rem;
	.floor-table__col-content{
		display: block;
	}
}
.floor-table__col-content{
	display: none;
	font-size:1rem;
	// padding-bottom: 15px;
}
.col-content__value{
	color: #b5b50c;
}
.about{
	color: $font-color-light;
	margin-bottom: 45px;
}

.about p{
	margin-bottom:10px;
	font-size: 1.3rem;
}

.about__title{
	font-size:1.6rem !important;
	text-align: center;
}

.about img{
	margin: 15px;
	margin-bottom: 5px;
}

.about li{
	margin-left: 45px;
	list-style-type:circle;
		font-size: 1.3rem;
}

.about__section{
	padding-top: 15px;
}