.header{
    padding: $main-wrapper-padding;
    z-index: 10;
}


.filter--dark .header{
    box-shadow: -15px 20px 35px rgb(6, 6, 6);
}

.logo{
  position: absolute;
  top: 25px;
  left: 5%;
  width: 70px;
}

.logo__link{
  display: block
}

.logo__img{
  @extend .img-responsive;
}

.header__title{
  text-align: center;
}
.main-title{
  text-align: center;
  padding: 35px 0px 20px;
  color: $font-color-light;
  font-size: 2rem;
  display: inline-block;
}
.sub-title{
  @include clearfix; 
  color:$font-color-light;
  font-size: 1.1rem;
  .sub-title__left{
    float: left;
  }
  .sub-title__right{
    float: right;
    font-style: italic;
  }
}