.poll-form{
    @extend .about;
    color: $about-text-color;
    // padding-top: 60px;
}

.poll-form__inner{
    @extend .about-info-wrapper;
    text-align: left;
}
.success-page{
    @extend .about;
}
.success-page__wrapper{
    @extend .about-info-wrapper;
}
.poll-fields .form-row{
    margin-bottom: 45px;
}
.form-row{
    margin-bottom: 30px;
}

.form-row__info{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.question__title{
    @extend .about-title;
    font-size: 2rem;
    margin-bottom: 45px;
    text-align: center;
    text-transform: none;

    .title-min{
        font-size: 1.0rem;
        margin-top: 25px;
    }
}

.question__inner{
    // display: none;
}

.question__submit{
    text-align: center;
}


.question__submit-btn{
    letter-spacing: 1px;
    border-radius: 15px;
    background-color: $btn-color;
    padding: 15px 0px;
    color: $font-color-light;
    font-size: 1.4em;
    text-decoration:none;
    display: block;
    text-transform:uppercase;
    width: 100%;
    border: none;

    &:hover{
        background-color: lighten($btn-color, 9%);
    }
}
.rating-mark{
    font-size: 1.2em;
    padding: 0px 10px;
    color: #91ffa5;
    font-weight: 600;
    position: relative;
    top: 1px;
}
.question__rating{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.rating__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}
.rating__title{
    flex-grow: 0;
    text-align: center;
}
.rating__list{
    flex: 1;
}

.rating__title, .comment__label{
    font-size: 1.2em;
}

.rating__title{
    padding: 0px 15px;
    padding-left: 0;
    font-weight: bold;
}

.rating__item{
    margin: 0 12px;
    margin-bottom: 24px;
    &:last-child(){
        margin-bottom: 0;
    }
}

.rating__label{
    position: relative;
    color: $about-text-color;
    font-size:1.3em;
    padding-top: 4px;
    padding-right: 1px;
    cursor: pointer;
    display: inline-flex;
    vertical-align: center;

    //fa
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

    &:before{
        content: "\f10c"; //fa-circle-o
        font-size: 40px;
    }

    &:hover:before{
        // background-color: #02bdbd;
    }

    & .rating__label-text{
        display: inline-block;
        margin-left: 20px;
        position: relative;
        top: 6px;
        font-family: $body-font;
        font-size: 1.4rem;
    }
}

.rating__radio:checked + .rating__label:before{
    content: '\f05d'; //fa-check-circle-o
}

.comment__label{
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.question__input, .comment__textarea{
    width: 100%;
    min-height: 60px;
    height: 200px;
    color: white;
    resize: none;
    border-radius: 10px;
    border: 1px solid #00BCD4;
    background-color: $about-text-color;
    padding: 10px;
    outline: none;
    font-size: 1.0em;
    // opacity: 0.8;

    &:focus{
        border-color: #fff;
        border-style:solid;
    }

    &::placeholder{
        color:$font-color-light;
    }
}

.question__input{
    min-height:5px;
    height: auto;
    border-radius:8px;
}

.question__input-list{
    // padding-top: 25px;
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
}

.input__wrap{
    display: inline-block;
    flex: 0 1 29.5%;
}