/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}


/* My classes */
#QuestionsModuleBlock, #AnswersModuleBlock, #ChartModuleBlock{
  display: none;
}

.chart{
    display: block;
    max-width: 600px;
}
.main-wrapper{
  padding: 0 15px;
}
.reviews-list{
  /* max-height: 270px; */
  overflow-y: auto;
}

.review-title{
  color: #212529;
}
.review-title.active{
  font-weight: bold;
}

.review-content{
  display: none;  
}
.review-title-date{
  font-size: 0.8rem;
}

.reviews-list.js-show-details .review-title{
    font-weight: bold;
  }
.reviews-list.js-show-details  .review-content{
    display: block;
  }


.folding-btn{
  font-size: 0.8rem;
}


::-webkit-scrollbar-button { 
background-repeat:no-repeat; 
width:4px; 
height:0px 
} 

::-webkit-scrollbar-track { 
/* background-color:rgba(50, 46, 50, 0.5); */
box-shadow:0px 0px 3px #000 inset; 
border-radius: 5px; 
} 

::-webkit-scrollbar-thumb { 
-webkit-border-radius: 5px; 
border-radius: 5px; 
background-color: rgba(0,0,0,.125);
box-shadow:0px 1px 1px #fff inset; 
background-position:center; 
background-repeat:no-repeat; 
} 

::-webkit-resizer{ 
background-image:url(''); 
background-repeat:no-repeat; 
width:4px; 
height:0px 
} 

::-webkit-scrollbar{ 
width: 7px; 
}