{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="about">
    <div class="about-info-wrapper">
        <div class="about-title">
            Лечебно-охранительный режим
        </div>
        <div class="about-infoblock">
            <div class="about-infoblock-title">
                Запрещено
            </div>
            <div class="about-text">
                <ul class="about-list">
                    <li class="about-item">
                        Покидать территорию больницы;
                    </li>
                    <li class="about-item">
                        Курить в помещениях и на территории больницы;
                    </li>
                    <li class="about-item">
                        Находиться в верхней одежде, без сменной обуви;
                    </li>
                    <li class="about-item">
                        Пользоваться электронагревательными приборами;
                    </li>
                    <li class="about-item">
                        Громко разговаривать, шуметь, хлопать дверьми;
                    </li>
                    <li class="about-item">
                        Употреблять алкогольные напитки и наркотические средства;
                    </li>
                    <li class="about-item">
                        Передавать пациентам, находящимся на стационарном лечении продукты, входящие в перечень запрещенных;
                    </li>
                    <li class="about-item">
                        Занимать лифты, предназначенные для сотрудников больницы: Вы можете задержать передвижение дежурного медперсонала, спешащего на вызов к больному.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
