{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="about">
    <div class="about-info-wrapper">
        <div class="about-title">
            Лечебно-охранительный режим
        </div>
        <div class="about-infoblock">
            <div class="about-infoblock-title">
                Правила для пациентов
            </div>
            <div class="about-text">
                <ul class="about-list">
                    <li class="about-item">
                        Отказаться на время лечения от курения, приема алкоголя и других вредных привычек;
                    </li>
                    <li class="about-item">
                        Придерживаться установленного в ГКБ №15 распорядка дня;
                    </li>
                    <li class="about-item">
                        Придерживаться назначенного врачом режима (постельный, палатный, общий);
                    </li>
                    <li class="about-item">
                        Выполнять рекомендации лечащего врача;
                    </li>
                    <li class="about-item">
                        Соблюдать назначенную врачом диету;
                    </li>
                    <li class="about-item">
                        Отдыхать в послеобеденное время и вовремя отходить ко сну вечером;
                    </li>
                    <li class="about-item">
                        В период тихого часа и после 22:00 соблюдать тишину и пользоваться только индивидуальными светильниками;
                    </li>
                    <li class="about-item">
                        Бережно относиться к имуществу больницы и других пациентов;
                    </li>
                    <li class="about-item">
                        Поддерживать чистоту и порядок в палате;
                    </li>
                    <li class="about-item">
                        Уважительно относиться к медицинскому персоналу, проявлять доброжелательное и вежливое отношение к другим пациентам;
                    </li>
                    <li class="about-item">
                        Быть внимательными с персоналом охраны, их труд обеспечивает покой больного.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
