{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">

        <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="stylesheet" href="{% static "bower/jquery-ui/themes/base/jquery-ui.css" %}">
        <link rel="stylesheet" href="{% static "bower/keyboard/dist/css/keyboard.min.css" %}">
        {# <link rel="stylesheet" href="{% static "css/fonts.css" %}"> #}
        <link rel="stylesheet" href="{% static "css/main.css" %}">
        <script src="https://use.fontawesome.com/6370e7cb18.js"></script>
        <title>Главная страница</title>
    </head>
    <body>
        <div class="main-wrapper filter{% if request.get_full_path != "/" %} filter--dark{% endif %}">
            <header class="header">
                <div class="header__logo logo">
                    <a href="/" class="logo__link">
                        <img src="{% static "img/logo.png" %}" alt="Городская клиническая больница №15 им. О.М. Филатова" class="logo__img">
                    </a>
                </div>
                <div class="container">
                    <div class="header__title">
                        <div class="main-title">
                            <div>Городская клиническая больница №15 им. О.М. Филатова</div>
                            <div class="sub-title">
                                <div class="sub-title__left">Департамент здравоохранения Москвы</div>
                                <div class="sub-title__right">"Ваше здоровье - наш ежедневный труд"</div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </header>
            <section class="main-content" id="mainContent">
                <div class="container" id="mainContainer">
                {% block content %}

                {% endblock content %}
            </section>
            <footer class="footer">
                    <div class="footer__content">
                        <div class="footer__info">Справочная стационара: 8 (495) 375-71-83</div>
                        <div class="footer__info">Справочная КДЦ: 8 (495) 375-71-83</div>
                        <div class="footer__info">Справочная род. дома: 8 (495) 375-71-83</div>
                    </div>
            </footer>

            {% if request.get_full_path != "/" %} 
            <div class="nav-btns">
                <a href="/" class="nav-btns__btn home-btn js-fade">
                    <i class="nav-btns__icon fa fa-bars" aria-hidden="true"></i>
                    <span class="nav-btns__text">Меню</span>
                </a>
            </div>
            {% endif %}

        </div>
        <script>
            // setTimeout(function(){
            //     $('#mainContainer').removeClass('js-fade-out');
            //     $('#mainContainer').addClass('js-fade-in');
            // }, 0);
        </script>
        <!-- bower:js-->

        <!-- endbower  -->
        <script src="{% static "bower/jquery/dist/jquery.js" %}"></script>
        <script src="{% static "bower/jquery-ui/jquery-ui.js" %}"></script>
        <script src="{% static "bower/keyboard/dist/js/jquery.keyboard.js" %}"></script>
        {# // <script src="{% static "bower/keyboard/layouts/keyboard-layouts-combined.js" %}"></script> #}
        {# // <script src="{% static "bower/keyboard/languages/ru.js" %}"></script> #}
        <script src="{% static "js/my-ru-keyboard.js" %}"></script>
        {# // <script src="{% static "bower/keyboard/layouts/russian.js" %}"></script> #}
        {# // <script src="{% static "bower/keyboard/layouts/keyboard-layouts-greywyvern.js" %}"></script> #}
        {# // <script src="{% static "bower/keyboard/layouts/keyboard-layouts-microsoft.js" %}"></script> #}

        <script src="{% static "js/script.js" %}"></script>
        {# // <script src="{% static "js/redirect.js" %}"></script> #}
        {# // <script src="{% static "js/fadeinscreen.js" %}"></script> #}
    </body>
</html>