{% extends "base.html" %}

{% block content %}
    <div class="success-page center-in-flexbox">
        <div class="success-page__wrapper">
            <div class="title" style="font-size: 2rem;">Благодарим Вас!</div>
            {# <div class="title">Ваше мнение очень важно для нас.</div> #}
            <div class="title">Наши сотрудники учитывают каждый отзыв и работают над тем, <br> чтобы ваше пребывание у нас было максимально комфортным.</div>
        </div>
    </div>
{% endblock content %}