{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="about">
    <div class="about-menu">
        <a href="{% url 'about:reference_hospital' %}" class="about-menu__btn">Справочная стационара</a>
        <a href="{% url 'about:reference_kdc' %}" class="about-menu__btn">Справочная КДЦ</a>
        <a href="{% url 'about:maternity_hospital' %}" class="about-menu__btn">Акушерское отделение</a>
        <a href="{% url 'about:reference_pay' %}" class="about-menu__btn">Справочная платных услуг</a>
        <a href="{% url 'about:women' %}" class="about-menu__btn">Женские консультации</a>
        <a href="{% url 'about:reception' %}" class="about-menu__btn">Прием населения</a>
        <a href="{% url 'about:schedule' %}" class="about-menu__btn">Распорядок дня</a>
        <a href="{% url 'about:rules' %}" class="about-menu__btn">Правила лечебного режима</a>
    </div>
</div>

{% endblock content %}
