{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="about">
    <div class="about__section">
        <img src="{% static "img/vechorko.png" %}" width="150" height="257" style="float: left;">
        <p>Глубокоуважаемые пациенты!</p>
        <p style="text-align: justify;">От лица сотрудников Городской клинической больницы имени О. М. Филатова я&nbsp;рад&nbsp;приветствовать вас&nbsp;на&nbsp;информационном портале.</p>
        <p style="text-align: justify;">Наша больница является одним из&nbsp;крупнейших многопрофильных учреждений в&nbsp;системе московского здравоохранения. Основной целью ее&nbsp;работы является оказание доступной и&nbsp;квалифицированной медицинской помощи в&nbsp;условиях комфорта и&nbsp;дружественной атмосферы. Для&nbsp;достижения этой цели у&nbsp;нас&nbsp;работают высокопрофессиональные, отзывчивые и&nbsp;доброжелательные люди, готовые круглосуточно прийти вам&nbsp;на&nbsp;помощь.</p>
        <p style="text-align: justify;">В 2016 году больнице исполнилось 35 лет&nbsp;и&nbsp;за&nbsp;время ее&nbsp;существования накоплен серьезный опыт диагностики и&nbsp;лечения различных заболеваний. Использование этого опыта, следование новейшим стандартам и&nbsp;рекомендациям в&nbsp;сочетании с&nbsp;наличием современного оборудования и&nbsp;доступностью высоких технологий позволяют нам&nbsp;в&nbsp;кратчайшие сроки добиваться улучшения здоровья абсолютного большинства больных.</p>
        <p style="text-align: justify;">Надеюсь, что&nbsp;на&nbsp;портале вы&nbsp;найдете важные и&nbsp;полезные сведения, а&nbsp;также необходимые разъяснения по&nbsp;интересующим вас&nbsp;вопросам. Вы&nbsp;сможете получить информацию о&nbsp;структуре, регламенте работы подразделений больницы, порядке получения медицинских услуг.</p>
        <p style="text-align: justify;">Возможно, у&nbsp;вас&nbsp;появятся вопросы&nbsp;или желание указать на&nbsp;недочеты в&nbsp;деятельности нашей организации! Оставляйте Ваши сообщения – каждое из&nbsp;них&nbsp;не&nbsp;останется без&nbsp;внимания!</p>
        <div style="text-align: justify;"><hr></div>
        <p style="text-align: justify;"><br><img src="/img/gkb-15.png" style="margin: 5px 10px; float: right;">Городская клиническая больница №15 им. О.М. Филатова&nbsp;— это&nbsp;один из&nbsp;крупнейших современных медицинских центров в&nbsp;Москве. Ежегодно в&nbsp;нем&nbsp;получают лечение около 70 тыс. пациентов. Уникальный врачебный опыт позволяет оказывать высококвалифицированную и&nbsp;специализированную медицинскую помощь в&nbsp;сложных и&nbsp;экстренных случаях. В&nbsp;клинике трудится сильный и&nbsp;слаженный коллектив, за&nbsp;плечами которого успешная многолетняя практика и&nbsp;научные достижения, ставшие со&nbsp;временем частью ежедневной работы.</p>
        <p style="text-align: justify;">В учреждении представлены следующие направления медицины: сердечно-сосудистая хирургия, нейрохирургия, кардиология, неврология, офтальмология, акушерская помощь, травматология, гинекология и&nbsp;другие.</p>
        <p style="text-align: justify;">Городская клиническая больница №15 им. О.М. Филатова&nbsp;— это:<br>
        <ul>
        <li>огромный врачебный опыт оказания помощи в&nbsp;экстренных ситуациях;</li>
        <li>передовые подходы к&nbsp;диагностике и&nbsp;лечению многих заболеваний (использование, в&nbsp;том&nbsp;числе малотравматичных технологий оперативного лечения, что&nbsp;позволяет свести к&nbsp;минимуму время нахождения пациента в&nbsp;клинике после операции);</li>
        <li>мировые стандарты оказания медицинской помощи;</li>
        <li>современный консультационно-диагностический центр;</li>
        <li>высокий профессионализм сотрудников.</li>
        </ul>
        </p>
        <p style="text-align: justify;">Обладая такими преимуществами, Городская клиническая больница №15 им. О.М. Филатова постоянно развивает и&nbsp;улучшает профессиональный уровень медиков, расширяет и&nbsp;совершенствует научно-техническую базу и&nbsp;использует новейшее оборудование.</p><p></p>
    </div>
</div>

{% endblock content %}
