{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="about">
    <div class="about-info-wrapper">
        <div class="about-title">
            Акушерское отделение (Роддом)
        </div>
        <div class="about-infoblock">
            <div class="about-infoblock-title">
                Справочная акушерского отделения
            </div>
            <div class="about-subtitle">
                График работы:
            <span class="about-text">
                ежедневно с 8:00 до 19:00 </span>
            </div>
            <div class="about-columns wide-cols">
                <div class="about-container">
                    <div class="about-columns-row">
                        <div class="about-col_l">
                                Справочная роддома по предоставлению бесплатных услуг
                        </div>
                        <div class="about-col_r">8 (495) 375-31-00 </div>
                    </div>
                    <div class="about-columns-row">
                        <div class="about-col_l">
                            Запись по полису ОМС и направлению к кардиологам и офтальмологам
                        </div>
                        <div class="about-col_r">8 (499) 786-49-45 </div>
                    </div>
                    <div class="about-columns-row">
                        <div class="about-col_l">
                            Менеджеры родильного дома по вопросам платных услуг
                        </div>
                        <div class="about-col_r">8 (916) 614-61-90 </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-infoblock">
            <div class="about-infoblock-title">
                Выписка пациентов
            </div>
            <div class="about-subtitle">
                Корпус родильного дома, подъезд №4
            </div>
            <div class="about-columns narrow-cols">
                <div class="about-container">
                    <div class="about-columns-row">
                        <div class="about-col_l">Понедельник</div>
                        <div class="about-col_r">с 8:00 до 17:30</div>
                    </div>
                    <div class="about-columns-row">
                        <div class="about-col_l">Вторник, среда, четверг </div>
                        <div class="about-col_r">с 8:00 до 16:30</div>
                    </div>
                    <div class="about-columns-row">
                        <div class="about-col_l">Суббота</div>
                        <div class="about-col_r">с 8:30 до 13:30</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-infoblock">
            <div class="about-infoblock-title">
                Приемное отделение
            </div>
            <div class="about-subtitle">
                Корпус родильного дома, подъезд №1
            </div>
            <div class="about-text">
                Круглосуточно без перерывов и выходных
            </div>
        </div>
    </div>
</div>

{% endblock content %}
