{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="about">
    <div class="about-info-wrapper">
        <div class="about-title">
            Прием населения
        </div>
        <div class="about-infoblock">
            <div class="about-columns wide-cols mb-rows">
                <div class="about-container">
                    <div class="about-columns-row">
                        <div class="about-col_l">
                            Главный врач клиники к.м.н. <br>
                            <span class="about-text--bold">Вечорко Валерий Иванович</span><br>
                            <span class="about-text--small" style="position: relative; top: -10px;">каждая первая суббота месяца - по предварительной записи, тел. 8 (495) 375-04-41</span>
                        </div>
                        <div class="about-col_r">понедельник, среда<br> с 15:00 до 17:00
                        </div>
                    </div>
                    <div class="about-columns-row">
                        <div class="about-col_l">
                            Зам. главного врача по медицинской части д.м.н.<br>
                            <span class="about-text--bold">Аверков Олег Валерьевич </span>
                        </div>
                        <div class="about-col_r">ежедневно<br> с 13:00 до 15:00
                        </div>
                    </div>
                    <div class="about-columns-row">
                        <div class="about-col_l">
                            Зам. главного врача по хирургической помощи д.м.н.<br>
                            <span class="about-text--bold">Учкин Илья Геннадьевич</span>
                        </div>
                        <div class="about-col_r">ежедневно<br> с 16:00 до 17:00
                        </div>
                    </div>
                    <div class="about-columns-row">
                        <div class="about-col_l">
                            Зам. главного врача по лечебной работе к.м.н.<br>
                            <span class="about-text--bold">Шапсигова Оксана Ауесовна</span>
                        </div>
                        <div class="about-col_r">ежедневно<br>с 13:30 до 15:00
                        </div>
                    </div>
                    <div class="about-columns-row">
                        <div class="about-col_l">
                            Зам. главного врача по акушерско-гинекологической помощи к.м.н.<br>
                            <span class="about-text--bold">Конышева Ольга Владимировна</span>
                        </div>
                        <div class="about-col_r">вторник<br>с 10:00 до 12:00
                        </div>
                    </div>
                    <div class="about-columns-row">
                        <div class="about-col_l">
                            Зам. главного врача по работе с сестринским персоналом<br>
                            <span class="about-text--bold">Таньшина Олеся Владимировна</span>
                        </div>
                        <div class="about-col_r">ежедневно<br>с 15:00 до 17:00
                        </div>
                    </div>
                    <div class="about-columns-row">
                        <div class="about-col_l">
                            Заведующая Консультационно-диагностическим центром д.м.н.<br>
                            <span class="about-text--bold">Чурсина Татьяна Вячеславовна</span>
                        </div>
                        <div class="about-col_r">вторник, четверг<br>с 14:00 до 16:00
                        </div>
                    </div>
                    <div class="about-columns-row">
                        <div class="about-col_l">
                            Заведующая клинико-экспертным отделом<br>
                            <span class="about-text--bold">Козлова Елена Валентиновна</span>
                        </div>
                        <div class="about-col_r">ежедневно<br>с 15:00 до 17:00
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
