{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="about">
    <div class="about-info-wrapper">
        <div class="about-title">
            Справочная платных услуг
        </div>
        <div class="about-infoblock">
            <div class="about-infoblock-title">
                График работы:
            </div>
            <div class="about-text">
                Запись на прием к специалистам: <br>
                ежедневно с 8:00 до 22:00
            </div>
            <div class="about-subtitle">
                8 (495) 375-15-55
            </div>
        </div>
        <div class="about-infoblock">
            <div class="about-text">
                Менеджеры родильного дома:
            </div>
            <div class="about-subtitle">
                8 (916) 614-61-90  
            </div>
        </div>
    </div>
</div>

{% endblock content %}
