{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="about">
    <div class="about-info-wrapper">
        <div class="about-title">
            Справочная стационара
        </div>
        <div class="about-infoblock">
            <div class="about-subtitle">
                График работы:
            </div>
            <div class="about-text">
                ежедневно с 8:00 до 20:00
            </div>
        </div>
        <div class="about-infoblock">
            <div class="about-subtitle">
                Телефоны для справок:
            </div>
            <div class="about-text">
                8 (495) 375-71-01<br>
                8 (495) 375-71-83<br>
                8 (495) 375-71-74<br>
                тел./факс.: 8 (495) 770-01-23
            </div>
        </div>
        <div class="about-infoblock">
            <div class="about-subtitle">
                Приемное отделение:
            </div>
            <div class="about-text">
                8 (495) 375-13-42 <br>
                8 (495) 375-71-92
            </div>
        </div>
        <div class="about-infoblock">
            <div class="about-subtitle">
                Горячая линия плановой<br>
                госпитализации иногородних пациентов:
            </div>
            <div class="about-text">
                8 (495) 587-70-88
            </div>
        </div>
    </div>
</div>

{% endblock content %}
