{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="about">
    <div class="about-info-wrapper">
        <div class="about-title">
            Справочная КДЦ <br> 
            <span class="about-title--subline">(Консультативно-диагностический центр)</span>
        </div>
        <div class="about-infoblock">
            <div class="about-subtitle">
                График работы:
            </div>
            <div class="about-text">
                в рабочие дни: с 8:00 до 20:00 <br>
                в субботу: с 8:00 до 14:00
            </div>
        </div>
        <div class="about-infoblock">
            <div class="about-subtitle">
                Телефоны для справок:
            </div>
            <div class="about-text">
                8 (495) 375-37-70<br>
                8 (495) 375-37-71<br>
                8 (495) 375-37-11<br>
                8 (495) 375-37-51<br>
                8 (495)-375-00-52<br>
                8 (495) 375-20-60
            </div>
        </div>
    </div>
</div>

{% endblock content %}
