{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="about">
    <div class="about-info-wrapper">
        <div class="about-title">
            Распорядок дня
        </div>
        <div class="about-infoblock">
                    <div class="info-table__wrapper">
                        <table class="info-table__table">
                            <tr class="info-table__row">
                                <th class="info-table__header">№</th>
                                <th class="info-table__header">Мероприятия</th>
                                <th class="info-table__header">Время</th>
                            </tr>
                            <tr class="info-table__row">
                                <td class="info-table__col">1</td>
                                <td class="info-table__col">Подъем, измерение температуры</td>
                                <td class="info-table__col">c 6:00 до 6:30</td>
                            </tr>
                            <tr class="info-table__row">
                                <td class="info-table__col">2</td>
                                <td class="info-table__col">Утренний туалет пациентов</td>
                                <td class="info-table__col">c 6:30 до 8:00</td>
                            </tr>
                            <tr class="info-table__row">
                                <td class="info-table__col">3</td>
                                <td class="info-table__col">Раздача лекарств</td>
                                <td class="info-table__col">c 8:00 до 8:30</td>
                            </tr>
                            <tr class="info-table__row">
                                <td class="info-table__col">4</td>
                                <td class="info-table__col">Завтрак</td>
                                <td class="info-table__col">c 8:30 до 9:30</td>
                            </tr>
                            <tr class="info-table__row">
                                <td class="info-table__col">5</td>
                                <td class="info-table__col">Утренняя конференция персонала</td>
                                <td class="info-table__col">c 9:00 до 9:15</td>
                            </tr>
                            <tr class="info-table__row">
                                <td class="info-table__col">6</td>
                                <td class="info-table__col">Обход лечащим врачом</td>
                                <td class="info-table__col">c 9:15 до 12:00</td>
                            </tr>
                            <tr class="info-table__row">
                                <td class="info-table__col">7</td>
                                <td class="info-table__col">Выполнение врачебных назначений</td>
                                <td class="info-table__col">c 9:30 до 13:00</td>
                            </tr>
                            <tr class="info-table__row">
                                <td class="info-table__col">8</td>
                                <td class="info-table__col">Раздача лекарств</td>
                                <td class="info-table__col">c 13:00 до 13:30</td>
                            </tr>
                            <tr class="info-table__row">
                                <td class="info-table__col">9</td>
                                <td class="info-table__col">Обед</td>
                                <td class="info-table__col">c 13:30 до 14:30</td>
                            </tr>
                            <tr class="info-table__row">
                                <td class="info-table__col">10</td>
                                <td class="info-table__col">Тихий час</td>
                                <td class="info-table__col">c 15:00 до 17:00</td>
                            </tr>
                            <tr class="info-table__row">
                                <td class="info-table__col">11</td>
                                <td class="info-table__col">Посещение пациентов родственниками</td>
                                <td class="info-table__col">c 17:00 до 20:00</td>
                            </tr>
                            <tr class="info-table__row">
                                <td class="info-table__col">12</td>
                                <td class="info-table__col">Раздача лекарств</td>
                                <td class="info-table__col">c 17:00 до 17:30</td>
                            </tr>
                            <tr class="info-table__row">
                                <td class="info-table__col">13</td>
                                <td class="info-table__col">Ужин</td>
                                <td class="info-table__col">c 17:30 до 18:00</td>
                            </tr>
                            <tr class="info-table__row">
                                <td class="info-table__col">14</td>
                                <td class="info-table__col">Выполнение врачебных назначений</td>
                                <td class="info-table__col">c 20:00 до 21:00</td>
                            </tr>
                            <tr class="info-table__row">
                                <td class="info-table__col">15</td>
                                <td class="info-table__col">Вечерний туалет пациентов</td>
                                <td class="info-table__col">c 21:00 до 22:00</td>
                            </tr>
                            <tr class="info-table__row">
                                <td class="info-table__col">16</td>
                                <td class="info-table__col">Отход ко сну</td>
                                <td class="info-table__col">c 22:00 </td>
                            </tr>
  

                        </table>
                    </div>
        </div>
    </div>
</div>

{% endblock content %}
