{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="map">
        <div class="map__wrapper">
            <div class="map__title">Главный корпус 
                <span class="map__title-min">(нажмите на ваше отделение)</span>
            </div>
            <div class="floor-table">
                <div class="floor-table__wrapper">
                    <table class="floor-table__table">
                        <tr class="floor-table__row">
                            <th class="floor-table__header">Левое крыло</th>
                            <th class="floor-table__header floor-table__header--stage">Центральный <br> лифт</th>
                            <th class="floor-table__header">Правое крыло</th>
                        </tr>
                        <tr class="floor-table__row">
                            <td class="floor-table__col">
                                <a href="#" class="floor-table__link">
                                    <div class="col-content__col-name">18 Колопроктологическое Отделение</div>
                                    <div class="floor-table__col-content">
                                        <div class="floor-name">12-й этаж</div>
                                        <div class="department-block">
                                            <div class="department">18 Колопроктологическое отделение</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">д.м.н., врач-колопроктолог Болквадзе Этери Энверовна</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Гасымова Татьяна Семеновна</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </td>
                            <td class="floor-table__col floor-table__col--stage">12</td>
                            <td class="floor-table__col">
                                <a href="#" class="floor-table__link">
                                    <div class="col-content__col-name">17 Отделение Гнойной Хирургии</div>
                                    <div class="floor-table__col-content">
                                        <div class="floor-name">12-й этаж</div>
                                        <div class="department-block">
                                            <div class="department">17 Отделение Гнойной Хирургии</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">к.м.н., врач-хирург Горюнов Сергей Витальевич </span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Корсакова Галина Ивановна </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </td>
                        </tr>
                        <tr class="floor-table__row">
                            <td class="floor-table__col">
                                <a href="#" class="floor-table__link">
                                    <div class="col-content__col-name">8 Кардиологическое отделение</div>
                                    <div class="floor-table__col-content">
                                        <div class="floor-name">11-й этаж</div>
                                        <div class="department-block">
                                            <div class="department">8 Кардиологическое отделение</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">д.м.н., врач-кардиолог Соколова Наталья Анатольевна</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Зверева Ирина Владимировна</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </td>
                            <td class="floor-table__col floor-table__col--stage">11</td>
                            <td class="floor-table__col">
                                <a href="#" class="floor-table__link">
                                    <div class="col-content__col-name">15 Офтальмологическое отделение</div>
                                    <div class="floor-table__col-content">
                                        <div class="floor-name">11-й этаж</div>
                                        <div class="department-block">
                                            <div class="department">15 Офтальмологическое отделение</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">к.м.н., врач-офтальмолог Кац Дмитрий Васильевич</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Солозобова Елена Игоревна</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </td>
                        </tr>
                        <tr class="floor-table__row">
                            <td class="floor-table__col">
                                <a href="#" class="floor-table__link">
                                    <div class="col-content__col-name">4 Нейрохирургическое Отделение <br>14 Отделение сосудистой хирургии</div>
                                    <div class="floor-table__col-content">
                                        <div class="floor-name">10-й этаж</div>
                                        <div class="department-block">
                                            <div class="department">4 Нейрохирургическое Отделение</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">д.м.н., врач-нейрохирург Сарибекян Альберт Сарибекович </span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Зуева Лариса Алексеевна</span>
                                            </div>
                                        </div>
                                        <div class="department-block">
                                            <div class="department">14 Отделение сосудистой хирургии</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">к.м.н., врач-сердечно-сосудистый хирург Майтесян Дереник Агванович</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Ромашова Ольга Константиновна</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </td>
                            <td class="floor-table__col floor-table__col--stage">10</td>
                            <td class="floor-table__col">
                                <a href="#" class="floor-table__link">
                                    <div class="col-content__col-name">13 Офтальмологическое отделение</div>
                                    <div class="floor-table__col-content">
                                        <div class="floor-name">10-й этаж</div>
                                        <div class="department-block">
                                            <div class="department">13 Офтальмологическое отделение</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">к.м.н., врач-офтальмолог Елисеева Татьяна Олеговна</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Федина Зоя Владимировна</span>
                                            </div>
                                        </div>
                                        
                                        </div>
                                    </div>
                                </a>
                            </td>
                        </tr>
                        <tr class="floor-table__row">
                            <td class="floor-table__col">
                                <a href="#" class="floor-table__link">
                                    <div class="col-content__col-name">12 Гинекологическое отделение</div>
                                    <div class="floor-table__col-content">
                                        <div class="floor-name">9-й этаж</div>
                                        <div class="department-block">
                                            <div class="department">12 Гинекологическое отделение</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">врач-акушер-гинеколог Питько Максим Валерьевич </span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Кожина Галина Николаевна</span>
                                            </div>
                                        </div>
                                        
                                        </div>
                                    </div>
                                </a>
                            </td>
                            <td class="floor-table__col floor-table__col--stage">9</td>
                            <td class="floor-table__col">
                                <a href="#" class="floor-table__link">
                                    <div class="col-content__col-name">11 Гинекологическое отделение</div>
                                    <div class="floor-table__col-content">
                                        <div class="floor-name">9-й этаж</div>
                                        <div class="department-block">
                                            <div class="department">11 Гинекологическое отделение</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">к.м.н., врач-акушер-гинеколог Клепалова Наталья Васильевна </span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Софронова Надежда Петровна</span>
                                            </div>
                                        </div>
                                        
                                        </div>
                                    </div>
                                </a>
                            </td>
                        </tr>
                        <tr class="floor-table__row">
                            <td class="floor-table__col">
                                <a href="#" class="floor-table__link">
                                    <div class="col-content__col-name">10 Хирургическое отделение</div>
                                    <div class="floor-table__col-content">
                                        <div class="floor-name">8-й этаж</div>
                                        <div class="department-block">
                                            <div class="department">10 Хирургическое отделение</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">к.м.н., врач-хирург Черняков Артем Викторович </span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Шестакова Татьяна Алексеевна</span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </a>
                            </td>
                            <td class="floor-table__col floor-table__col--stage">8</td>
                            <td class="floor-table__col">
                                <a href="#" class="floor-table__link">
                                    <div class="col-content__col-name">9 Хирургическое отделение</div>
                                    <div class="floor-table__col-content">
                                        <div class="floor-name">8-й этаж</div>
                                        <div class="department-block">
                                            <div class="department">9 Хирургическое отделение</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">д.м.н., врач-кардиолог врач-хирург Хоконов Мухамед Амирханович </span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Субботина Татьяна Владимировна</span>
                                            </div>
                                        </div>
                                      
                                        </div>
                                    </div>
                                </a>
                            </td>
                        </tr>
                        <tr class="floor-table__row">
                            <td class="floor-table__col">
                                <a href="#" class="floor-table__link">
                                    <div class="col-content__col-name">24 Внебюджетное отделение</div>
                                    <div class="floor-table__col-content">
                                        <div class="floor-name">7-й этаж</div>
                                        <div class="department-block">
                                            <div class="department">24 Внебюджетное отделение</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">к.м.н., врач-терапевт Вергопуло Алексей Аркадьевич </span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Гусева Тамара Семеновна</span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </a>
                            </td>
                            <td class="floor-table__col floor-table__col--stage">7</td>
                            <td class="floor-table__col">
                                <a href="#" class="floor-table__link">
                                    <div class="col-content__col-name">7 Хирургическое отделение</div>
                                    <div class="floor-table__col-content">
                                        <div class="floor-name">7-й этаж</div>
                                        <div class="department-block">
                                            <div class="department">7 Хирургическое отделение</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">к.м.н., врач-хирург Ржебаев Константин Эдуардович </span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Дмитриченко Наталья Васильевна</span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </a>
                            </td>
                        </tr>
                        <tr class="floor-table__row">
                            <td class="floor-table__col">
                                <a href="#" class="floor-table__link">
                                    <div class="col-content__col-name">5 Кардиохирургическое отделение<br>АРО №20</div>
                                    <div class="floor-table__col-content">
                                        <div class="floor-name">6-й этаж</div>
                                        <div class="department-block">
                                            <div class="department">5 Кардиохирургическое отделение</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">д.м.н., врач-сердечно-сосудистый хирург Баяндин Николай Леонардович </span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Корнеева Ольга Вячеславовна</span>
                                            </div>
                                        </div>
                                        <div class="department-block">
                                            <div class="department">АРО №20</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">врач-анестезиолог-реаниматолог Чекмарёв Дмитрий Викторович</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Макарова Анна Вячеславовна</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Время беседы с врачами АРО №20:</span>
                                                <span class="col-content__value">13:00 - 14:00 и 17:00 - 19:00</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Телефон (внутренний):</span>
                                                <span class="col-content__value">28-00</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </td>
                            <td class="floor-table__col floor-table__col--stage">6</td>
                            <td class="floor-table__col">
                                <a href="#" class="floor-table__link">
                                    <div class="col-content__col-name">29 Хирургическое отделение<br>26 Травматологическое отделение<br>5 Кардиологическое отделение</div>
                                    <div class="floor-table__col-content">
                                        <div class="floor-name">6-й этаж</div>
                                        <div class="department-block">
                                            <div class="department">29 Хирургическое отделение</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">к.м.н., врач-хирург Мурадов Ислам Усманович</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Лисицкая Надежда Владимировна</span>
                                            </div>
                                        </div>
                                        <div class="department-block">
                                            <div class="department">26 Травматологическое отделение</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">врач-травматолог-ортопед Чачба Зураб Валерьянович</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Лисицкая Надежда Владимировна</span>
                                            </div>
                                        </div>    
                                        <div class="department-block">
                                            <div class="department">5 Кардиологическое отделение</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">д.м.н., врач-сердечно-сосудистый хирург Баяндин Николай Леонардович</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Корнеева Ольга Вячеславовна</span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </a>
                            </td>
                        </tr>
                        <tr class="floor-table__row">
                            <td class="floor-table__col">
                                <a href="#" class="floor-table__link">
                                    <div class="col-content__col-name">6 Кардиологическое отделение</div>
                                    <div class="floor-table__col-content">
                                        <div class="floor-name">6-й этаж</div>
                                        <div class="department-block">
                                            <div class="department">6 Кардиологическое отделение</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">врач-кардиолог Гришина Ирина Спартаковна </span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Семиохина Анастасия Антоновна</span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </a>
                            </td>
                            <td class="floor-table__col floor-table__col--stage">5</td>
                            <td class="floor-table__col">
                                <a href="#" class="floor-table__link--no-content">
                                    <div class="col-content__col-name">Закрыт, Ремонт</div>
                                    <div class="floor-table__col-content">
                                        
                                    </div>
                                </a>
                            </td>
                        </tr>
                        <tr class="floor-table__row">
                            <td class="floor-table__col">
                                <a href="#" class="floor-table__link">
                                    <div class="col-content__col-name">2 Кардиологическое Отделение<br>АРО №6</div>
                                    <div class="floor-table__col-content">
                                        <div class="floor-name">4-й этаж</div>
                                        <div class="department-block">
                                            <div class="department">2 Кардиологическое Отделение</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">к.м.н., врач-кардиолог Кудинова Мария Александровна </span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Исмаилова Елена Петровна</span>
                                            </div>
                                        </div>
                                        <div class="department-block">
                                            <div class="department">АРО №6</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">врач-анестезиолог-реаниматолог Петькиев Иван Вячеславович</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Джигунова Сусана Заудиновна</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Время беседы с врачами АРО №6:</span>
                                                <span class="col-content__value">11:00 - 12:00 и 17:00 - 19:00</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Телефон (внутренний):</span>
                                                <span class="col-content__value">13-06</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </td>
                            <td class="floor-table__col floor-table__col--stage">4</td>
                            <td class="floor-table__col">
                                <a href="#" class="floor-table__link">
                                    <div class="col-content__col-name">3 Травматологическое отделение</div>
                                    <div class="floor-table__col-content">
                                        <div class="floor-name">4-й этаж</div>
                                        <div class="department-block">
                                            <div class="department">3 Травматологическое отделение</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">врач-травматолог-ортопед Николаев Валерий Михайлович</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Борисова Софья Ивановна</span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </a>
                            </td>
                        </tr>
                        <tr class="floor-table__row">
                            <td class="floor-table__col">
                                <a href="#" class="floor-table__link">
                                    <div class="col-content__col-name">АРО №9</div>
                                    <div class="floor-table__col-content">
                                        <div class="floor-name">3-й этаж</div>
                                        <div class="department-block">
                                            <div class="department">АРО №9</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">врач-анестезиолог-реаниматолог Арефьев Михаил Николаевич</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Смолина Татьяна Валентиновна</span>

                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Время беседы с врачами АРО №9:</span>
                                                <span class="col-content__value">15:00 - 16:00 и 17:00 - 19:00</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Телефон (внутренний):</span>
                                                <span class="col-content__value">14-85</span>
                                            </div>
                                        </div>    
                                        
                                    </div>
                                </a>
                            </td>
                            <td class="floor-table__col floor-table__col--stage">3</td>
                            <td class="floor-table__col">
                                <a href="#" class="floor-table__link--no-content">
                                    <div class="col-content__col-name">Помещения лечебного назначения</div>
                                    <div class="floor-table__col-content">
                                        
                                    </div>
                                </a>
                            </td>
                        </tr>
                        <tr class="floor-table__row">
                            <td class="floor-table__col">
                                <a href="#" class="floor-table__link">
                                    <div class="col-content__col-name">АРО №1, АРО №2, АРО №3, АРО №4</div>
                                    <div class="floor-table__col-content">
                                        <div class="floor-name">2-й этаж</div>
                                        <div class="department-block">
                                            <div class="department">АРО №1</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">врач-анестезиолог -реаниматолог Резяпова Марина Игоревна</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старший медицинский брат: </span>
                                                <span class="col-content__value">Шатович Татьяна Васильевна</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Время беседы с врачами АРО №1:</span>
                                                <span class="col-content__value">12:00 - 13:00 и 17:00 - 19:00</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Телефон (внутренний):</span>
                                                <span class="col-content__value">12-04</span>
                                            </div>
                                        </div>
                                        <div class="department-block">
                                            <div class="department">АРО №2</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">врач-анестезиолог-реаниматолог Рязанцев Станислав Александрович</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Гришина Валентина Павловна</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Время беседы с врачами АРО №2:</span>
                                                <span class="col-content__value">10:00 - 11:00 и 17:00 - 19:00</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Телефон (внутренний):</span>
                                                <span class="col-content__value">14-60</span>
                                            </div>
                                        </div>
                                        <div class="department-block">
                                            <div class="department">АРО №3</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">врач-анестезиолог-реаниматолог Максимцева Екатерина Алексеевна</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старший медицинский брат: </span>
                                                <span class="col-content__value">Заверуха Владимир Иванович</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Время беседы с врачами АРО №3:</span>
                                                <span class="col-content__value">13:00 - 14:00 и 17:00 - 19:00</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Телефон (внутренний):</span>
                                                <span class="col-content__value">11-22, 29-19</span>
                                            </div>
                                        </div>
                                        <div class="department-block">
                                            <div class="department">АРО №4</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">врач-анестезиолог-реаниматолог Гусева Олеся Германовна</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Дроздова Ольга Александровна</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Время беседы с врачами АРО №4:</span>
                                                <span class="col-content__value">12:00 - 13:00 и 17:00 - 19:00</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Телефон (внутренний):</span>
                                                <span class="col-content__value">12-82</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </td>
                            <td class="floor-table__col floor-table__col--stage">2</td>
                            <td class="floor-table__col">
                                <a href="#" class="floor-table__link">
                                    <div class="col-content__col-name">АРО №2, Операционный Блок</div>
                                    <div class="floor-table__col-content">
                                        <div class="floor-name">2-й этаж</div>
                                       <div class="department-block">
                                            <div class="department">АРО №2</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">врач-анестезиолог-реаниматолог Рязанцев Станислав Александрович</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Гришина Валентина Павловна</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Время беседы с врачами АРО №2</span>
                                                <span class="col-content__value">10:00 - 11:00 и 17:00 - 19:00</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Телефон (внутренний):</span>
                                                <span class="col-content__value">14-60</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </td>
                        </tr>
                        <tr class="floor-table__row">
                            <td class="floor-table__col">
                                <a href="#" class="floor-table__link">
                                    <div class="col-content__col-name">Приемное Отделение<br>Отделение Физиотерапии<br>Отделение Рассеянного Склероза</div>
                                    <div class="floor-table__col-content">
                                        <div class="floor-name">1-й этаж</div>
                                        <div class="department-block">
                                            <div class="department">Приемное отделение</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">врач-анестезиолог-реаниматолог Османов Осман Абдулмаликович</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Борисова Мира Александровна</span>
                                            </div>
                                        </div>
                                        <div class="department-block">
                                            <div class="department">Служба физиотерапии</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Саватеева Марина Вячеславовна</span>
                                            </div>
                                        </div>
                                        
                                        <div class="department-block">
                                            <div class="department">Отделение рассеянного склероза</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">к.м.н., врач-невролог Щур Сергей Геннадьевич</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </td>
                            <td class="floor-table__col floor-table__col--stage">1</td>
                            <td class="floor-table__col">
                                <a href="#" class="floor-table__link--no-content">
                                    <div class="col-content__col-name">Администрация</div>
                                    <div class="floor-table__col-content">
                                        
                                    </div>
                                </a>
                            </td>
                        </tr>
                        <tr class="floor-table__row">
                            <td class="floor-table__col">
                                <a href="#" class="floor-table__link">
                                    <div class="col-content__col-name">МРТ, КТ<br>Отделение Эндоскопии<br>Лазерная Микрохирургия Глаза</div>
                                    <div class="floor-table__col-content">
                                        
                                        <div class="floor-name">Цокольный этаж</div>
                                        <div class="department-block">
                                            <div class="department">МРТ, КТ (Отделение инструментальной диагностики)</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">к.м.н. врач ультразвуковой диагностики Дорошенко Дмитрий Александрович </span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Шалагина Любовь Дмитриевна</span>
                                            </div>
                                        </div>
                                        <div class="department-block">
                                            <div class="department">Отделение эндоскопии</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">д.м.н. врач-эндоскопист Глебов Константин Глебович</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Семочкина Елена Васильевна</span>
                                            </div>
                                        </div>
                                        <div class="department-block">
                                            <div class="department">Лазерная микрохирургия глаза</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Сиротина Мария Ивановна</span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </a>
                            </td>
                            <td class="floor-table__col floor-table__col--stage">Цоколь</td>
                            <td class="floor-table__col">
                                <a href="#" class="floor-table__link--no-content">
                                    <div class="col-content__col-name">Производственные помещения</div>
                                    <div class="floor-table__col-content">

                                    </div>
                                </a>
                            </td>
                        </tr>
                    </table>
                    <div class="floor-table__popup" id="floorPopup">
                        <div class="floor-table__about">
                            <a href="#" class="popup-close-btn"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                            <div class="floor-table__about-wrapper" id="floorPopupContent">
            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
