{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="map">
        <div class="map__wrapper">
            <div class="map__title">Терапевтический корпус
                <span class="map__title-min">(нажмите на ваше отделение)</span>
            </div>
            <div class="floor-table">
                <div class="floor-table__wrapper">
                    <table class="floor-table__table">
                        <tr class="floor-table__row">
                            <th class="floor-table__header">Отделения</th>
                            <th class="floor-table__header floor-table__header--stage">Этаж</th>
                        </tr>
                        <tr class="floor-table__row">
                            <td class="floor-table__col">
                                <a href="#" class="floor-table__link">
                                    <div class="col-content__col-name">Паллиативное Отделение<br> Терапевтическое Отделение</div>
                                    <div class="floor-table__col-content">
                                        
                                        <div class="floor-name">6-й этаж</div>
                                        <div class="department-block">
                                            <div class="department">Паллиативное Отделение</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">д.м.н., врач по паллиативной медицинской помощи Евсиков Евгений Михайлович </span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Тоцкойнова Инесса Иосифовна</span>
                                            </div>
                                        </div>
                                        <div class="department-block">
                                            <div class="department">Терапевтическое Отделение</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">врач-терапевт Байкова Оксана Алексеевна</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Иванова Светлана Валерьевна</span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </a>
                            </td>
                            <td class="floor-table__col floor-table__col--stage">6</td>
                        </tr>
                        <tr class="floor-table__row">
                            <td class="floor-table__col">
                                <a href="#" class="floor-table__link">
                                    <div class="col-content__col-name">Отделение Нефрологии<br> Отделение Ревматологии<br> Паллиативное Отделение</div>
                                    <div class="floor-table__col-content">
                                        
                                        <div class="floor-name">5-й этаж</div>
                                        <div class="department-block">
                                            <div class="department">Отделение Нефрологии</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">врач-нефролог Корсакова Любовь Владимировна </span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Золотова Татьяна Владимировна</span>
                                            </div>
                                        </div>
                                        <div class="department-block">
                                            <div class="department">Отделение Ревматологии</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">к.м.н., врач-ревматолог Теплова Людмила Валерьевна</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Ловцова Марина Владимировна</span>
                                            </div>
                                        </div>
                                        <div class="department-block">
                                            <div class="department">Паллиативное Отделение</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">д.м.н., врач по паллиативной медицинской помощи Евсиков Евгений Михайлович</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Тоцкойнова Инесса Иосифовна</span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </a>
                            </td>
                            <td class="floor-table__col floor-table__col--stage">5</td>
                        </tr>
                        <tr class="floor-table__row">
                            <td class="floor-table__col">
                                <a href="#" class="floor-table__link">
                                    <div class="col-content__col-name">Неврологическое Отделение</div>
                                    <div class="floor-table__col-content">
                                        
                                        <div class="floor-name">4-й этаж</div>
                                        <div class="department-block">
                                            <div class="department">Неврологическое Отделение</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">врач-невролог Голонзко Вероника Анатольевна</span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Крутобережская Ольга Александровна</span>
                                            </div>
                                        </div>
                                        
                                   

                                    </div>
                                </a>
                            </td>
                            <td class="floor-table__col floor-table__col--stage">4</td>
                        </tr>
                        <tr class="floor-table__row">
                            <td class="floor-table__col">
                                <a href="#" class="floor-table__link">
                                    <div class="col-content__col-name">Отделение гемодиализа Отделение</div>
                                    <div class="floor-table__col-content">
                                        
                                        <div class="floor-name">3-й этаж</div>
                                        <div class="department-block">
                                            <div class="department">Отделение гемодиализа </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">врач-нефролог Бурлаков Константин Александрович </span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старший медицинский брат: </span>
                                                <span class="col-content__value">Жакетов Сергей Владимирович</span>
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                </a>
                            </td>
                            <td class="floor-table__col floor-table__col--stage">3</td>
                        </tr>
                        <tr class="floor-table__row">
                            <td class="floor-table__col">
                                <a href="#" class="floor-table__link">
                                    <div class="col-content__col-name">Неврологическое Отделение</div>
                                    <div class="floor-table__col-content">
                                        
                                        <div class="floor-name">2-й этаж</div>
                                        <div class="department-block">
                                            <div class="department">Неврологическое Отделение</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">врач-невролог Обруч Лилия Равильевна </span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старшая медицинская сестра: </span>
                                                <span class="col-content__value">Свяжина Лариса Аркадьевна</span>
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                </a>
                            </td>
                            <td class="floor-table__col floor-table__col--stage">2</td>
                        </tr>
                        <tr class="floor-table__row">
                            <td class="floor-table__col">
                                <a href="#" class="floor-table__link">
                                    <div class="col-content__col-name"> АРО №5</div>
                                    <div class="floor-table__col-content">
                                        
                                        <div class="floor-name">1-й этаж</div>
                                        <div class="department-block">
                                            <div class="department">АРО №5</div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Заведующий отделением:</span>
                                                <span class="col-content__value">врач-анестезиолог-реаниматолог Недоросткова Татьяна Юрьевна </span>
                                            </div>
                                            <div class="col-content__item">
                                                <span class="col-content__key about-text--bold">Старший медицинский брат: </span>
                                                <span class="col-content__value">Попов Дмитрий Викторович</span>
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                </a>
                            </td>
                            <td class="floor-table__col floor-table__col--stage">1</td>
                        </tr>
                    </table>
                    <div class="floor-table__popup" id="floorPopup">
                        <div class="floor-table__about">
                            <a href="#" class="popup-close-btn"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                            <div class="floor-table__about-wrapper" id="floorPopupContent">
                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
