@media (max-width: 1024px) {
    html{
        font-size: 1.2vw;
    }
    .container{
        width: 100%;
    }
    .header__title{
        padding: 0 40px;
    }

    .ui-keyboard{
        display: none !important;
    }
    .logo{
        width: 150px;
        height: auto;
    }

    .device-hidden{
        display: none;
    }
    .about-menu__btn{
        width: 43%;
    }

    .question__rating{
        flex-direction: column;
    }

    .rating__title{
        margin-bottom: 3%;
        padding: 0;
    }



    .nav-btns{
        display: none;
    }


    ::-webkit-scrollbar{ 
        width: 5px; 
    }


}

@media (max-width: 768px) {
    html{
        font-size: $font / 1.6;
    }
    .header__title{
        display: none;
    }

}

@media (max-width: 680px) {
    .sub-title{
        display: none;
    }
    .about-menu__btn{
        width: 85%;
    }

    .big-menu__btn{
        width: 90%;
        font-size: 1.8rem;
    }

    .footer__content{
        flex-direction: column;
        text-align: center;
        font-size: 1.2em;
    }

    .question__title{
        font-size: 1.7em;
        margin-bottom: 5%;
    }

    .question__input-list{
        flex-direction: column;
    }

    .input__wrap, .form-row{
        margin-bottom: 6%;
    }


}

@media (max-width: 425px) {
    html{
        font-size: $font / 1.6;
    }

    .container{
        width: 98%;
        padding: 0;
    }

    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__logo{
        position: static;
        top: 0;
        left: 0;
        width: 150px;
        margin-top: 5%;
    }

    .main-title{
        padding-top: 5%;
    }
    .sub-title{
        display: none;
    }

    .big-menu__btn{
        width: 90%;
    }

    .footer__content{
        flex-direction: column;
        text-align: center;
        font-size: 1.2em;
    }

    .poll-form{
        padding-top: 15px;
    }


}
