/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$fb-hover-name: 'fb-hover';
$fb-hover-x: 90px;
$fb-hover-y: 0px;
$fb-hover-offset-x: -90px;
$fb-hover-offset-y: 0px;
$fb-hover-width: 11px;
$fb-hover-height: 21px;
$fb-hover-total-width: 101px;
$fb-hover-total-height: 62px;
$fb-hover-image: '../img/sprite/sprite.png';
$fb-hover: (90px, 0px, -90px, 0px, 11px, 21px, 101px, 62px, '../img/sprite/sprite.png', 'fb-hover', );
$fb-name: 'fb';
$fb-x: 90px;
$fb-y: 41px;
$fb-offset-x: -90px;
$fb-offset-y: -41px;
$fb-width: 11px;
$fb-height: 21px;
$fb-total-width: 101px;
$fb-total-height: 62px;
$fb-image: '../img/sprite/sprite.png';
$fb: (90px, 41px, -90px, -41px, 11px, 21px, 101px, 62px, '../img/sprite/sprite.png', 'fb', );
$tw-hover-name: 'tw-hover';
$tw-hover-x: 0px;
$tw-hover-y: 0px;
$tw-hover-offset-x: 0px;
$tw-hover-offset-y: 0px;
$tw-hover-width: 25px;
$tw-hover-height: 21px;
$tw-hover-total-width: 101px;
$tw-hover-total-height: 62px;
$tw-hover-image: '../img/sprite/sprite.png';
$tw-hover: (0px, 0px, 0px, 0px, 25px, 21px, 101px, 62px, '../img/sprite/sprite.png', 'tw-hover', );
$tw-name: 'tw';
$tw-x: 45px;
$tw-y: 0px;
$tw-offset-x: -45px;
$tw-offset-y: 0px;
$tw-width: 25px;
$tw-height: 21px;
$tw-total-width: 101px;
$tw-total-height: 62px;
$tw-image: '../img/sprite/sprite.png';
$tw: (45px, 0px, -45px, 0px, 25px, 21px, 101px, 62px, '../img/sprite/sprite.png', 'tw', );
$vk-hover-name: 'vk-hover';
$vk-hover-x: 0px;
$vk-hover-y: 41px;
$vk-hover-offset-x: 0px;
$vk-hover-offset-y: -41px;
$vk-hover-width: 16px;
$vk-hover-height: 21px;
$vk-hover-total-width: 101px;
$vk-hover-total-height: 62px;
$vk-hover-image: '../img/sprite/sprite.png';
$vk-hover: (0px, 41px, 0px, -41px, 16px, 21px, 101px, 62px, '../img/sprite/sprite.png', 'vk-hover', );
$vk-name: 'vk';
$vk-x: 36px;
$vk-y: 41px;
$vk-offset-x: -36px;
$vk-offset-y: -41px;
$vk-width: 16px;
$vk-height: 21px;
$vk-total-width: 101px;
$vk-total-height: 62px;
$vk-image: '../img/sprite/sprite.png';
$vk: (36px, 41px, -36px, -41px, 16px, 21px, 101px, 62px, '../img/sprite/sprite.png', 'vk', );
$spritesheet-width: 101px;
$spritesheet-height: 62px;
$spritesheet-image: '../img/sprite/sprite.png';
$spritesheet-sprites: ($fb-hover, $fb, $tw-hover, $tw, $vk-hover, $vk, );
$spritesheet: (101px, 62px, '../img/sprite/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
